---
layout: default
---

<section class="info">
<div class="row expanded">
  
<div class="small-12 medium-4 large-3 columns info__contact">
  
  <p>Studio —<br>
  <a href="mailto:{{site.email}}">{{site.email}}</a></p>
  
  <p><a href="{{site.social.instagram}}">Instagram</a></p>
  
  <a href="http://garethjohnsdesign.com" target="_blank">Colophon</a>
</div>

<div class="small-12 medium-7 large-5 columns">
{{ content }}

{% if page.is-showreel-shown == true %}
<p><a data-open="showreel">Showreel</a></p>

<div class="large reveal" id="showreel" data-reveal data-close-on-click="true" data-animation-in="fade-in" data-animation-out="fade-out">
  <div class="responsive-embed widescreen">
        <iframe src="https://player.vimeo.com/video/{{page.showreel}}?color=ffffff&title=0&byline=0&portrait=0" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
      </div>
  <button class="close-button" data-close aria-label="Close modal" type="button">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
{% endif %}


{% if page.is-clients-shown == true %}
<p>Clients<br>
{% for client in page.clients %}
<a href="{{ client.link }}" target="_blank">{{ client.title }}</a>{% if forloop.last == false %},{% endif %}
{% endfor %}</p>
{% endif %}

{% if page.is-collaborators-shown == true %}
<p>Collaborators<br>
{% for collaborator in page.collaborators %}
<a href="{{ collaborator.link }}" target="_blank">{{ collaborator.title }}</a>{% if forloop.last == false %},{% endif %}
{% endfor %}</p>
{% endif %}

{% if page.is-press-shown == true %}
<p>Press<br>
{% for press in page.press %}
<a href="{{ press.link }}" target="_blank">{{ press.title }}</a>{% if forloop.last == false %},{% endif %}
{% endfor %}</p>
{% endif %}
</div>
</div>
</section>



